@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,400i,500,500i,700,700i&display=swap');


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    padding: 25px;
    background-color: #eaeaea;
}

section {
    font-size: 15px;
}

.hpanel {
    font-size: 15px;
    background-color: #fff;
    box-shadow: 3px 8px 8px 3px rgba(51,51,51,0.1);
}

.hpanel .panel-heading {
    font-size: 18px;
    border-color: #fff;
    border-width: 0;
}

.hpanel.hmaroon {
    color: #6a6c6f;
    opacity: 1;
}

.hpanel.hmaroon .panel-body {
    border-top: 2px solid #772432;
}

@media (max-width:720px){
    .row div.col-xs-12.col-sm-offset-2.col-sm-4.col-md-offset-0.col-md-6,
    .row.m-t-lg div.col-xs-12.col-sm-4.col-md-6 {
        margin-bottom: 30px;
    }
}

/* Override bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.landing-page .header {
    position: fixed;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
    line-height: 1;
    padding: 20px 25px;
    -webkit-transition: all 0.4s ease;
}

.landing-page .navbar-form-custom,
.landing-page .navbar-right,
.landing-page #logo {
    display: block
}

.landing-page .navbar-default {
    background: #fff
}

.landing-page .navbar .navbar-brand {
    font-size: 12px;
    height: auto;
    margin-top: 8px;
    padding: 9px 15px;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    display: block;
    background-color: #fff;
    margin-left: 0
}

@media(max-width:768px) {
    .landing-page .navbar-nav > li, .landing-page .navbar-nav > li > a {
        border-bottom: 1px rgba(119, 36, 50, 0.3) solid;
        background-color: #fff;
    }
}

.landing-page .navbar-default .navbar-toggle:hover,
.landing-page .navbar-default .navbar-toggle:focus {
    background: #772432
}

    .landing-page .navbar-default .navbar-toggle:hover .icon-bar,
    .landing-page .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #fff !important
    }

.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover,
.landing-page .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #772432;
    border: 0
}

.landing-page .navbar-default li a:hover {
    border-bottom: 0
}

.landing-page .brand-desc {
    color: #004165;
    margin: 17px 10px 0 90px;
    width: 180px
}

.landing-page .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 15px;
    text-align: center;
    color: #772432;
    -webkit-transition: all 0.2s ease-in-out;
}

    .landing-page .navbar-nav > li > a:hover {
        border: 1px solid #772432;
    }

    .landing-page .navbar-nav > li,
    .landing-page .navbar-nav > li > a {
        height: 55px
    }

/* Home Page background image */
.landing-page header {
    height: 85px;
}

body.landing-page section:nth-child(even) {
    padding: 50px 0 50px 0;
    border-top: 1px solid #eaeaea;
    background-color: #fff; /*#f7f9fa;*/
}

body.landing-page section:nth-child(odd) {
    padding: 50px 0 50px 0;
    background-color: #f5f8fd; /*#f7f9fa;*/
}

    .landing-page section h2 {
        margin-top: 0
    }

    .landing-page section p {
        margin-top: 0
    }

.landing-page header .container {
    position: relative
}

.landing-page .fullscreen .btn {
    color: #fff;
    font-size: 20px;
    border-color: #34495e;
    border-radius: 50px !important;
    background: #34495e;
}

    .landing-page .fullscreen .btn:hover {
        background: #18314a;
        text-decoration: none;
    }

.landing-page .heading {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: #772432;
}

.landing-page h1 {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.25;
    text-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

    .landing-page h1 span {
        font-size: 5rem;
        color: #34495e;
    }

.landing-page h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    /*text-shadow: 0px 5px 10px rgba(0,0,0,0.5);*/
}

.landing-page h4 {
    font-weight: 600
}

.landing-page .heading-image {
    position: absolute;
    right: 60px;
    text-align: right;
}

    .landing-page .heading-image p {
        color: #a7afb8;
        margin-bottom: 5px;
    }

    .landing-page .heading-image img {
        -webkit-box-shadow: 0 0 8px 0 #333;
        -moz-box-shadow: 0 0 8px 0 #333;
        box-shadow: 0 0 8px 0 #333;
        margin-left: 12px;
        margin-top: 12px;
        width: 180px;
        border-radius: 1px
    }

.landing-page .intro-image img {
    /*background-color: #fefefe;*/
    /*-webkit-box-shadow: 0 0 8px 0 #333;
    -moz-box-shadow: 0 0 8px 0 #333;
    box-shadow: 0 0 8px 0 #333;*/
    margin: 0;
    width: 180px;
    border-radius: 6px
}

.landing-page .navy-link {
    background: #004165;
    color: #fff
}

.landing-page .icon-big {
    font-size: 70px
}

.landing-page .team-member img {
    height: 72px
}

.landing-page .social-icon a {
    background: #772432;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    height: 28px;
    width: 28px;
    display: block;
    border-radius: 4px
}

.landing-page .list-inline > li {
    padding: 0
}

.landing-page .social-icon a:hover {
    background: #5abb2d
}

.landing-page .pricing-plan {
    margin: 20px 10px 0 10px;
    border-radius: 4px;
    padding-bottom: 20px;
    background: #fff;
    border: 1px solid #eaeaea
}

    .landing-page .pricing-plan li {
        padding: 10px 16px;
        text-align: center;
        color: #aeaeae
    }

    .landing-page .pricing-plan .pricing-price span {
        font-weight: 700;
        font-size: 30px;
        color: #772432
    }

.landing-page .pricing-title .label {
    font-size: 12px
}

.landing-page li.pricing-desc {
    font-size: 13px;
    border-top: 0;
    padding: 20px 16px 0 16px
}

.landing-page li.pricing-title {
    color: #004165;
    padding: 25px 10px 0 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600
}

.landing-page .client {
    color: #a7afb8;
    background: #f7f9fa;
    padding: 30px 10px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 600
}

.landing-page .heading h1 {
    font-weight: 700;
    font-size: 36px;
}

.landing-page .heading h2 {
    font-weight: 500;
    font-size: 32px;
}

@media(max-width:1200px) {
    .landing-page .heading-image {
        display: none
    }

    .landing-page .brand-desc {
        display: none
    }

    .landing-page .navbar .navbar-brand {
        margin-left: 10px
    }
}

/* Landing Page Logo */
#logo.light-version img,
div[class="navbar-header"] a > img {
    height: 55px;
    width: 225px;
    float: left;
}

/* Profile Logo */
#profile-logo a img {
    height: 50px;
    width: 194px;
    float: left;
    vertical-align: middle;
}

div[class="navbar-header"] a > h3 {
    font-size: 40px;
    vertical-align: middle;
    float: left;
    display: inline-block;
}

/*@media(min-width:1200px) {
    div[class="heading"] img {
        width: 1200px;
        height: 339px;
    }
}

@media(min-width:769px) and (max-width:1199px) {
    div[class="heading"] img {
        width: 769px;
        height: 256px;
    }
}

@media(max-width:768px) {
    div[class="heading"] img {
        width: 768px;
        height: 256px;
    }
}

@media(max-width:480px) {
    div[class="heading"] img {
        width: 480px;
        height: 128px;
    }
}*/

.register-form {
    margin-top: 100px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 6px;
    box-shadow: 0px 1px 11px 0px rgba(55,55,55,0.3);
    border: 1px solid #eee;
}

    .register-form h3 {
        color: #004165;
        font-weight: bold;
    }

/**
* ----------------------------------------------
* Fullscreen  Classes
* ----------------------------------------------
*/
.fullscreen-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fullscreen {
    height: 600px;
    width: 100%;
    position: relative;
}

    .fullscreen .center-col {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 3;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        margin-top: 20px;
    }

@media (max-width: 1024px) {
    .fullscreen .center-col {
        left: 15px;
        right: 15px;
    }
}

@media (max-width: 720px) {
    .img-fluid {
        display: none;
    }
}

/**
* ----------------------------------------------
* Overlay background colors
* ----------------------------------------------
*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.9;
}

.abs-svg-top,
.abs-svg-bottom {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 130px;
}

.abs-svg-top {
    top: 0;
}

.abs-svg-bottom {
    bottom: 0;
}

#home {
    width: 100%;
    position: relative;
    background: #f5f8fd url('../Images/landing/intro-bg.jpg') center top no-repeat;
    background-size: cover;
    /*margin-bottom: 10px;*/
    /*opacity: 0.5;*/
}

    #home .container {
        margin-top: 35px;
    }