@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Reset Password Confirmation";
}

<div class="login-container">
    <div class="row text-center">
        <div class="col-md-12">
            <div id="bootstrap_alerts">
                @if (TempData.ContainsKey("flash"))
                {
                    @Html.Partial("_Alert", TempData["flash"]);
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3 class="font-bold">Password Confirmation</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <p>
                                If the email is found in our database you should receive an email shortly.
                                Dont forget to check the spam folder.
                            </p>
                        </div>
                        <div class="col-md-offset-4 col-md-4">
                            <a role="button" href="@Url.Action("Index","Home")" class="font-bold btn btn-success">Return Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	
