@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "About Us";
}

<div id="ourwebsite"><h2>About Us</h2></div>
<div id="exTab3" class="container">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1b" data-toggle="tab">Our Website</a>
        </li>
        <li>
            <a href="#2b" data-toggle="tab">Learn from your data</a>
        </li>
        <li>
            <a href="#3b" data-toggle="tab">Unique Dashboard</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Our Mission</h2>
                </div>
                <div class="panel-body">
                    <h3>
                        To provide a website that informs members of Toastmasters their progress to improve their public speaking and leadership.
                        This website will help all members of Toastmasters keep track of their improvements. The most important thing to get out from Toastmasters is the
                        ability to not only be able to speak better in public, but also grow confidence and be a leader!
                        You will see yourself improve and you will be able to see how much you improve. What does a member need to bring? Confidence and dedication!
                    </h3>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2b">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Our Mission</h2>
                </div>
                <div class="panel-body">
                    <h3>
                        Toastmasters wants you to see where and how you can improve. We want all members to see themselves grow and your data is here to assist you!
                        What can you learn from your data? From the moment you start, Toastmasters is here to keep track of your progress!
                        The most important thing is to see where you need to improve on and work on it from there. The greatest feeling is seeing yourself do better!
                        You will feel great and best of all? You will feel accomplished! Become a member and learn from your data. See how much you grow!
                    </h3>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3b">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Our Mission</h2>
                </div>
                <div class="panel-body">
                    <h3>
                        Our Website provides a unique dashboard for all members to visually see their progress. With our dashboard, members can input information and with the
                        view of charts, see where they are doing well and what they need to improve on. The most important part of our dashboards? It is that they always change!
                        You have the ability to keep track of your progress and see yourself improve. The greatest feeling is to visually see your improvements because we want our
                        members to see their hard work result in them becoming better leaders!
                    </h3>
                </div>
            </div>
            <h3>

            </h3>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>