@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Index";
}

<div id="home">
    <div class="fullscreen">
        <div class="overlay">
            <div class="center-col white-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <h1 class="heading mb-15">Honeywell Spoken <span>Toastmasters</span></h1>
                            <h2 class="heading">
                                Where Leaders are Made
                            </h2>
                            <div class="clearfix">
                                <a href="~/Account/Register" class="btn btn-outline btn-default m-t-md">
                                    <i class="fa fa-chevron-right mr-2"></i> Get Started
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 offset-lg-1">
                            <div class="row">
                                <div class="col-md-4 intro-image">
                                    <img src="~/Images/svg/candidate.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2 intro-image">
                                    <img src="~/Images/svg/inspection.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 intro-image">
                                    <img src="~/Images/svg/setup_analytics.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="abs-svg-bottom">
            <polygon points="0 100, 10 99, 20 98, 25 97, 30 96, 35 95, 42 93, 48 91, 54 89, 58 87, 64 84, 69 80, 74 76, 78 71, 82 66, 86 60, 89 55, 92 49, 94 44, 96 37, 98 28, 99 18, 100 0, 100 100" fill="#fff"></polygon>
            @*<polygon points="100 100, 0 100, 100 0" fill="#fff"></polygon>*@
        </svg>

    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="hpanel plan-box hmaroon">
                    <div class="panel-heading hbuilt text-center">
                        <h4>eManagement System</h4>
                    </div>
                    <div class="panel-body">
                        <div class="intro-image m-b-md text-center">
                            <img src="~/Images/svg/group_chat.svg" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                                <p class="text-center"><a class="navy-link btn btn-sm" href="#" role="button">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hpanel plan-box plan-box-center hmaroon">
                    <div class="panel-heading hbuilt text-center">
                        <h4>Learn from your Data</h4>
                    </div>
                    <div class="panel-body">
                        <div class="intro-image m-b-md text-center">
                            <img src="~/Images/svg/report.svg" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                                <p class="text-center"><a class="navy-link btn btn-sm" href="#" role="button">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hpanel plan-box hmaroon">
                    <div class="panel-heading hbuilt text-center">
                        <h4>Unique Dashboard</h4>
                    </div>
                    <div class="panel-body">
                        <div class="intro-image m-b-md text-center">
                            <img src="~/Images/svg/dashboard.svg" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                                <p class="text-center"><a class="navy-link btn btn-sm" href="#" role="button">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="discover">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="font-bold"><span class="text-success">Discover with </span><span class="text-primary">Toastmasters</span></h2>
                <p>
                    <span class="text-primary">Toastmasters</span> International is a non-profit educational organization that teaches public speaking and leadership skills through a worldwide network of clubs.
                </p>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-6">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <strong>What is Toastmasters?</strong>
                        <p>Do you want to practice public speaking, improve your communication and build leadership skills? With <span class="text-primary">Toastmasters</span>, you can break barriers, not your budget. Learn more about the history of the organization and our methodology to help maximize your potential!</p>
                        <div class="text-center">
                            <a class="btn btn-success btn-sm">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
                <strong>Visit a Club</strong>
                <p>The club is at the heart of your journey. It’s the place you and other members meet to practice, learn, grow, mentor and share. It’s important to find one that’s right for you, and it’s okay to visit a few before joining one. With over 16,600 clubs to choose from, you’re sure to find one nearby!</p>
                <div class="text-center">
                    <a class="btn btn-success btn-sm">Learn more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-6">
                <strong>Become a Member</strong>
                <p>Once you find your club, joining is easy. As a member, you become part of a larger international organization that supports you every step of the way.</p>
                <div class="text-center">
                    <a class="btn btn-success btn-sm">Learn more</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <strong>Choose Your Learning Path</strong>
                        <p>The Pathways learning experience is Toastmasters’ education program. There are 10 specialized learning paths to choose from and an opportunity to leverage over 300 unique competencies. Find the path that’s right for you and start building real-world, transferable skills today!</p>
                        <div class="text-center">
                            <a class="btn btn-success btn-sm">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="font-bold"><span class="text-success">Features available for your </span><span class="text-primary">Club</span></h2>
                <p>Features to efficiently improve your club intelligence and skill development</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-0">
                <h4 class="m-t-lg">
                    <i class="pe-7s-display1 text-success icon-big" style="color:#78bbff;"></i>
                </h4>
                <strong>Dashboard</strong>
                <p>Easily view your communication and leadership improvements</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <h4 class="m-t-lg"><i class="fas fa-leaf fa-3x" style="color:#00b35c;"></i></h4>
                <strong>Eco-Friendly</strong>
                <p>The digital platform reduces paper waste</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <h4 class="m-t-lg"><i class="fas fa-chart-line fa-3x" style="color:#4c4c78"></i></h4>
                <strong>Analytics</strong>
                <p>Use of your speech performance to improve efficiently</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-0">
                <h4 class="m-t-lg"><i class="pe-7s-global text-success icon-big" style="color:#004265;"></i></h4>
                <strong>Networking</strong>
                <p>Keep in touch with members in and outside your club</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <h4 class="m-t-lg">
                    <i class="fas fa-tachometer-alt fa-3x" style="color:#8a1e30;"></i>
                </h4>
                <strong>Performance</strong>
                <p>Use trend reports to adjust your performance</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <h4 class="m-t-lg"><i class="fas fa-database fa-3x" style="color:#7c7cdd;"></i></h4>
                <strong>Storage</strong>
                <p>Avoid the paper clutter by storing files in a secure location</p>
            </div>
        </div>

    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Contact with us anytime</span></h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-4 col-md-offset-3">

                <form class="form-horizontal text-left" role="form" method="post" action="#">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="message" placeholder="Your message here..."></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Send us a message" class="btn btn-success">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 text-left">
                <address>
                    <strong><span class="navy">Toastmasters International</span></strong><br />
                    9127 S. Jamaica Street, 400<br />
                    Englewood, CO 80112<br />
                    <abbr title="Phone">P:</abbr> +1(720) 439-5050
                </address>
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>

    </div>
</section>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            // During first load of the page
            if ($(window).scrollTop() > 525) {//$(window).height()) {
                $(".landing-page .header").css({ "background-color": "#fff", "box-shadow": "0 0 7px 0 rgba(0, 0, 0, 0.2)" });
                $(".navbar-toggle").css({ "border": "1px solid #772432" });
                $(".navbar-toggle .icon-bar").css({ "background-color": "#772432" });
            } else {
                $(".landing-page .header").css({ "background-color": "transparent", "box-shadow": "none" });
                $(".landing-page .navbar-nav > li > a").css({ "background-color": "transparent" });
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() > 525) {//$(window).height()) {
                    $(".landing-page .header").css({ "background-color": "#fff", "box-shadow": "0 0 7px 0 rgba(0, 0, 0, 0.2)" });
                    $(".landing-page .navbar-nav > li > a").css({ "background-color": "#fff" });
                    $(".navbar-toggle").css({ "border": "1px solid #772432" });
                    $(".navbar-toggle .icon-bar").css({ "background-color": "#772432" });
                } else {
                    $(".landing-page .header").css({ "background-color": "transparent", "box-shadow": "none" });
                    $(".landing-page .navbar-nav > li > a").css({ "background-color": "transparent" });
                }
            });
        })

        $(function () {

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
            });

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

        });
    </script>
}